.masthead {
    height: 100vh;
    min-height: 500px;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  body{
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  }