
.bgNavCustom{
    background-image: linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,0.5));
}

.biSize{
 font-size: 30px;
}

.navAnimation{
    transition: all 1000ms;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.navAnimationBack{
    transition: all 1000ms;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
}


@media screen and (min-width: 769px){
    .position-custom{
        position:static;
    }

    .rightPos{
        position: absolute;
        right: 100px;
        top: 10px
    }
    .rightPosMenu{
        position: absolute;
        right: 30px;
        top: 9px;
        color: white;
    }
}



@media screen and (max-width: 769px){
    .position-custom{
        position: relative;
    }

    .rightPos{
        position: absolute;
        right: 50px;
        top: 30px;
    }
    .rightPosMenu{
        position: absolute;
        right: 0px;
        top: 30px;
        color: white;
    }
}
    

@media screen and (max-width: 1200px) { 
    .navAnimation{
        transition: all 1000ms;
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

@media screen and (max-width: 900px) { 
    .navAnimation{
        transition: all 1000ms;
        max-width: 700px;
        margin-right: auto;
        margin-left: auto;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
@media screen and (max-width: 700px) { 
    .navAnimation{
        transition: all 1000ms;
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
@media screen and (max-width: 414px) { 
    .navAnimation{
        transition: all 1000ms;
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

.btnCustom{
    color: white;
    transition: all 250ms;
}
.btnCustom:hover{
    color: white;
    transform: translateX(10px);
    transition: all 250ms;
}
.btn-check:focus + .btn, .btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0) !important;
}

.btnCustomLog{
    color: white;
    transition: all 250ms;
}
.btnCustomLog:hover{
    transform: translateX(-10px);
    color: white;
    transition: all 250ms;
}

.underlineHover{
    display: inline-block;
    position: relative;
    color: white;
    transition: all 250ms;
    margin-right: 30px;
    font-size: 20px;
    text-decoration: none;
    
}

.underlineHover:hover{
    transition: all 250ms;
    color: white;
}

.underlineHover:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:  white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }


.underlineHover:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btnBar1, .btnBar2, .btnBar3{
    width: 40px;
    height: 2px;
    background-color: white;
    margin: 10px 0;
    transition: 0.4s;
  
}

.change.btnBar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change.btnBar2 {
    opacity: 0;
}
  
.change.btnBar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}